@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    display: flex;
}
.container{
    margin-top: 5%;
}
.row{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 20px;
    
}

.table-container {
    margin: 0 auto; /* Center the container horizontally */
    width: 120%; /* Adjust the width as needed */
}

.table {
    border-collapse: collapse;
    width: 100%; /* Ensure the table spans the entire width of its container */
}

/* Rest of your table styling */
.table thead tr th{
    background-color: #c81212;
    text-align: center;
}



.table th,
.table td {
    padding: 8px; /* Adjust cell padding as needed */
    text-align: left; /* Align cell content to the left */
    height: 10vh;
    background-color: red;
    text-align: center;
    width: 20%;
}

.table th {
    background-color: #c81212; /* Set background color for table header */
    text-align: center;
}

/* Add this CSS to your existing styles */
.table {
    border-collapse: collapse;
    width: 90%; /* Adjust the width as needed */
    margin: auto; /* Center the table */
}
#table1{
    padding-top: 20px;
}

.table th,
.table td {
    padding: 1px; /* Adjust the padding as needed */
    border: 1px solid #ddd; /* Change the border color to a lighter shade */
}

.table th {
    background-color: #f2f2f2; /* Light gray background color for table header */
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

.table tbody tr:hover {
    background-color: #ddd; /* Hover effect color */
}

