<section class="content-main mt-80 mb-80" >
   
            <div class="card mx-auto card-login" style="width: 30%;">
                
                <div class="card-body">
                    <p style="color: red;">{{this.didnotMatch}}</p>
                    <p style="color: red;">{{this.whitespace}}</p>
                    <p style="color: red;">{{this.createNew}}</p>
                    <h4 class="text-center" style="margin-bottom: 9%;">Reset</h4>
                    <form action="/ResetPassword" method="post">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Current Password" type="text" name="currentPassword">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="New Password"type="password" name="newPassword">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Confirm Password" type="password" name="cnfrmPassword">
                        </div> <!-- form-group// -->
                        <div class="mb-4">
                            <button  style="padding: 8px; background-color:#b31111" type="submit" class="btn btn-primary w-100"> Reset </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
 </section>