<section class="content-main mt-80 mb-80" >
            <div class="card mx-auto card-login" style="width: 30%;"> 
                <div class="card-body">
                    <h4 class="text-center" style="margin-bottom: 9%;">RESET</h4>

                     <div id="loginMsgs" class="text-center">{{this.validMail}}</div>
                    <form action="/forgotPasswordEmail" method="post">
                        <div class="mb-3">
                            <input class="form-control"  placeholder="Enter email" type="text" name="forgotPasswordEmail">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                              <label class="form-label"> <p style="font-size: small; color:red">(Max. 8 chars, 1 special, 1 number, 1 uppercase, 1 lowercase)</p></label>
                            <input class="form-control"  placeholder="New Password" type="password" name="forgotPasswordNewOne">
                        </div> <!-- form-group// -->
                        <div class="mb-4">
                            <input class="form-control" placeholder="Confirm Password" type="password" name="forgotPasswordNewOneConfirm">
                        </div> <!-- form-group// -->
                        <div class="mb-4">
                            <button style="padding-bottom :35px; :" type="submit" id="btn-lg" class="btn w-100"> SEND OTP </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
 </section>