<link rel="stylesheet" href="/css/Reset.css">
<section>
        <div class="wrapper">
            <div class="container main">
                <div class="row " id="reset">
                    <div class="col-md-6 right">
                        <div class="input-box">
                            <header id="title-head">
                                <h5 id="head">Reset Password</h5>
                                <p id="msgReset">Recover your password</p>
                            </header>
                             <form action="/login" method="post">
                                <div class="input-field">
                                    <input type="text" class="input" name="email" required="" autocomplete="off" >
                                    <label for="email">Email</label>
                                </div> 
                                <div id="login" class="input-field mt-4">
                                    <input type="submit" class="submit" value="RESET">
                                </div> 
                            </form> 
                              <a id="resend" href="">Resend Otp</a>
                             <input style="width: 100%;" type="text" class="input mt-3" name="email" required="" autocomplete="off" >
                            <div class="signin">
                                <span>Back to <a href="#">
                                    <button id="btn">LOGIN</button>
                                </a></span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>